.chairbg{
    background-image: url('../../images/New folder/chair.png');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: inherit;
}
